body{
    background-color: rgb(234, 244, 255);
}

#cng-password{
    margin: 150px;
}


.forms-row{
    margin: 2% 2%;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
}
.col-3{
    padding-right: 20px;
}

.form-control{
    background-color: rgb(239, 246, 255);
}

.card{
    
    margin: 10px 5px;
    padding: 2% 2%;
    margin-bottom: 5%;
    box-shadow:  rgba(50, 92, 160, 0.3) 6px 20px 15px; 
    
    background-color: rgb(206, 230, 255);
    text-align: center;
   
}