body{
    background-color: rgb(233, 243, 254);

}
#mngPass,#todays-pass,#seven-d-pass,#passreport{
    margin-top: 120px;
    padding: 1% 10% 1%;
   
}


.styled-table {
    font-weight: 500;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #68adfd;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;  
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: rgb(222, 236, 251);
}


.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #68adfd;
}
.styled-table tbody {
    /* font-weight: bold; */
    color: #303438;

}

.images{
    width:20px;
    height:20px;
}

.anchor-tag1{
    text-decoration: none;
  
}
.anchor-tag2{
   text-decoration: none;
   margin-left: 25px;
}

.card{
    
    margin: 10px 5px;
    padding: 2% 2%;
    margin-bottom: 5%;
    box-shadow:  rgba(50, 92, 160, 0.3) 6px 20px 15px; 
    
    background-color: rgb(206, 230, 255);
    text-align: center;
   
}

